*{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    padding: 8%;
    text-align: center;
}

h3{
    font-size: 40px;
    margin-top: -60px;
    font-family: Arial, Helvetica, sans-serif;
}

.jugadas{
    display: flex;
    margin-top: 48px;
    width: 80%;
    margin-left: 120px;
    align-items: center;
    justify-content: space-between;
}

.jugador{
    width: 35%;
    height: 300px;
    border-radius: 20px;
    color: blue;
}

.nombre{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.image{
    display: none;
}

.resultado{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.perdiste{
    display: none;
}

.empate{
    display: none;
}

.pc{
    width: 35%;
    height: 300px;
    border-radius: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.jugar{
    display: none;
}

.botones{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    margin-left: 120px;
}

.boton{
    margin-top: 10px;
    width: 89%;
    height: 50px;
    text-align: center;
    border: 1px brown solid;
    font-size: 20px;
}

.boton:hover{
    background-color: orangered;
    color: aqua;
}

#piedraJG{
    display:none;
}

#papelJG{
    display:none;
}

#tijerasJG{
    display:none;
}

.active{
    display:flex;
}